body{
    margin: 0;
    padding: 0; 
    height: 100%;
    min-height: 100%;
    /* background-image: url("../pic/bg r.jpg"); */
    font-family: 'Libre Baskerville', serif;  
    background: rgb(30, 36, 46);   
}

/* гамбургер */

.hamburger{
    display: none;
    right: 0;
    width: 16px;
    height: 13px;
    /* float: right; */
    margin: 6px;
    position: fixed;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    cursor: pointer;
    z-index: 100;
}
/* средняя полоска псевдоэл */
.hamburger:after{
    content:"";
    position: absolute;
    display: block;
    right: 0;
    left: 0;
    top: 5px;
    height: 2px;
    background: red;
   
}

.burger_content{
    position: relative;
    
}

/* шапка */

.header {
    background-repeat: no-repeat;
    background-position: cener;
    background-size: cover;
    margin-left: 10px;
    /* padding: 20px; */
    height: 80px;
    color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    /* margin: 20px; */
}
a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
a:hover{
        color: rgb(0, 217, 255)
    }


.menu {
    /* margin-left: 10px; */
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


ul {
    display: flex;
}

li.menu_item {
    margin-left: 20px;
    white-space: nowrap;
    text-decoration: none;
    list-style: none;
}

.a{
    color: rgb(228, 226, 226);
    font-family:'Libre Baskerville', serif;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;

}
:hover{
    color: rgb(0, 217, 255);
}
.social a{
    width: 25px;
    height: 25px;
    display: inline-block;
   
}
.tw{
   background: url("../icons/twitter-social-outlined-logo.PNG") no-repeat; 
   background-position: 100% 0;
   margin-left: 2px;
}
.fb{
    background: url("../icons/facebook-logo-outline.PNG") no-repeat;
    background-position: 0 0;
    margin-left: 2px;
}
/* галерея */
.gallery{
    padding: .5vw;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-flow: row wrap;
    
}
.gallery div{
    flex: auto;
    width: 300px;
    margin: .5vw;
   
}
.gallery div img{
    width: 100%;
    height: auto;
}
@media screen and (max-vidth: 550px){
    .gallery div{margin: 0;}
    .gallery {padding: 0;}
}
.gallery:hover img{
    opacity: 0.3;
    transition: .8s opacity;
}
.gallery:hover img:hover{
    opacity: 1;
    transition: .8s opacity;
}    

/* footer */

.footer{
    height: 110px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.info {
    margin-top: 37px;
}
.mail{
    margin-top: 37px;  
}
.soucial{
    display: flex;
    padding: 46px;
}
.tv{
  width: 50px;  
}
.footer a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
.footer a:hover{
        color: rgb(0, 217, 255)
    }

    /* кнопка */
.button {
    background: #29596385;
    color: #05bfeee0;
    position: fixed;
  
    width: 7%;
    border-radius: 30px;
    height: 60px;
    font-size: 18px;
    border: none;
    margin-top: 10px;
    margin-left: 55%;
    cursor: pointer;
    transition: .5s;
    z-index: 99;
    bottom: 0;
    right: 0;
   }
   .button:hover {
    background: #3e63dc;
   }            