body{
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    font-family: 'Libre Baskerville', serif;
    background-image: url("../pic/bg_20r.jpg");
    /* background: rgb(121, 119, 119);  */
    font-size: 25px;
    line-height: 35px;
}

/* гамбургер */

.hamburger{
    display: none;
    right: 0;
    width: 16px;
    height: 13px;
    /* float: right; */
    margin: 6px;
    position: fixed;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    cursor: pointer;
    z-index: 100;
}
/* средняя полоска псевдоэл */
.hamburger:after{
    content:"";
    position: absolute;
    display: block;
    right: 0;
    left: 0;
    top: 5px;
    height: 2px;
    background: red;
   
}

.burger_content{
    position: relative;
    
}

/* шапка */

.header {
    background-repeat: no-repeat; 
    background-position: cener;
    background-size: cover; 
    padding-left: 10px;
    height: 80px;
    color: #FFF;
    display: flex;
    flex-direction: row; 
    justify-content:space-between;
    align-items:center;
   
}
.header a {
    color: white;
    text-decoration: none;
    display: flex; 
    flex-wrap: wrap; 
     flex-grow: 1;
     font-size: 16px;
     text-transform: uppercase;
     text-decoration: none; 
}
.header a:hover{
        color: rgb(0, 217, 255)
    }


.menu {
    /* margin-left: 20px; */
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


ul {
    display: flex;
  
}

li.menu_item {
    margin-left: 20px;
    white-space: nowrap;
    text-decoration: none;
    list-style: none;
}


.social a{
    width: 25px;
    height: 25px;
    display: inline-block;
   
}
.tw{
   background: url("../icons/twitter-social-outlined-logo.PNG") no-repeat; 
   background-position: 100% 0;
   margin-left: 2px;
}
.fb{
    background: url("../icons/facebook-logo-outline.PNG") no-repeat;
    background-position: 0 0;
    margin-left: 2px;
}


/* gallery postcards */
.wrapper{
    
  max-width: 740px;
  margin:20px auto;
  background: rgb(163, 162, 162);
  padding: 24px 20px 30px 20px;
  box-shadow: 0 0 20px  rgb(31, 29, 29);
  overflow: hidden;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
}

.item{
    margin: 6px;
    flex-basis: auto;
    flex-grow: 1;
    background: rgb(226, 225, 225);
    width: 170px;
    height: 105px;
    float: left;
    text-align: center;
    margin: 7px;
    box-shadow: 0 0 10px  rgb(31, 29, 29 .4);
}
.item > div{
    position: relative;
    /* margin-top: 15%; */
    height: 115px;
    width: 100%;
    /* margin: 10px 10px 10px 0px; */
    box-sizing: border-box;
    /* padding: 10px; */
    overflow: hidden;
    border: 10px solid rgb(136, 150, 160);
}
.item > div:hover{
box-shadow:inset 0px 0px 10px black;
border: 10px solid rgb(246, 247, 248); 
}

.front:hover{
    box-shadow: 0 0 20px rgb(3, 15, 15);

}
.front{
    transition: all .5s;
    /* height: 100%; */
    /* margin: 10px; */
    box-sizing: border-box;
    justify-content: center;
    width: 100%;
    display: block!important;
}
    
/* footer */

.footer{
    height: 110px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.info {
    margin-top: 37px;
}
.mail{
    margin-top: 37px;  
}
.soucial{
    display: flex;
    padding: 46px;
}
.tv{
  width: 50px;  
}
.footer a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
.footer a:hover{
        color: rgb(0, 217, 255)
    }


