body{
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;  
    background-image: url("../pic/bg r.jpg"); 
    height: 650px;
}
.t3d{
    width: 300px;
    height: 400px;
    margin: 50px auto;
    perspective: 1000px;
}
.t3d:hover .rotate{
    transform:rotateY(180deg); 
}

.rotate{
    position: relative;
    transition: 0.5s;
    transform-style: preserve-3d;
}
.text{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    transform:rotateY(180deg);
    
}
.pd{
    padding: 20px;
}
.img{
   vertical-align: middle; 
}
.img .text{
    padding: 20px double #ccc;
    width: 300px;
    height: 400px; 
    background: #fff;
    backface-visibility: hidden; 
} 