body{
    font-family: 'Libre Baskerville', serif;
    background-image: url("../img/BGr/bg.jpg");
    /* font-family:  */
    /* text-align: center; */
    font-weight: 300px;
    font-size: 16px;
    line-height: 1.5;
    color: #252222;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
    margin: 10px;
    box-sizing: border-box;
    background-attachment: fixed;
} 
   .container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    }  

     
  .header {
        background-repeat: no-repeat;
        background-position: cener;
        background-size: cover;
        margin-left: 10px;
        height: 80px;
        color: #FFF;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items:center;
    }
   
    .head{
        float: right;
        overflow: hidden;
        display: flex;
        flex-direction:row;
        list-style: none;
        font-family: 'Libre Baskerville' serif rgb(253, 252, 252); 
    }

    
    .content{
        display: flex; 
        flex-direction: row;
        justify-content:space-around;
        padding: 5px 10 px;
       }

   
    /* #ul li a {
        list-style: none;
        color: white;
        display: flex;
        flex: 1 1 auto;
        flex-wrap: wrap; 
        justify-content: space-around; 
        padding: 5px 0; */
    

    /* .menu a{
        padding: 5px 10 px;
        font-family: 'Libre Baskerville', serif;
        */
    

.content {
    padding: 20; 
    display: flex; 
    flex-direction: row;
    justify-content:center;
    align-items: center;

}
.box-1{
    width: 90%;
    padding: 10px; 
    margin: 20px auto;
    font-family: 'Libre Baskerville', serif;
    color: rgb(255, 253, 253);
}

.text1{

}
 
.footer{
    display: flex;
    justify-content: space-between;
}

/* галерея */
.conteiner1 {
    width: 80%;
    margin: 30px auto;
    overflow: hidden; 
}

.conteiner1 ul {
    display: flex;
    flex-wrap: wrap;
}

.conteiner1 ul li a{
    color: rgb(238, 155, 155);
}

.conteiner1 ul li{
    /* flex-grow: 1; */
    flex-basis: 100px; 
    list-style: none;
    /* float: left; */
    font: 'Libre Baskerville', serif;
    color:  rgb(238, 155, 155);
    width: 46%;
    margin: 2% 2% 30px 2%;
}



a {
    color: white;
    text-decoration: none;
}

div {}

.menu {
    margin-left: 10px;
}

.menu {}

.menu {}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu {}

ul {
    display: flex;
}

li.menu_item {
    margin-left: 10px;
    white-space: nowrap;
    text-decoration: none;
    list-style: none;
}

.container-second {
    display: flex;
    height: 100vh;
    width: 100%;
}

.block_from_bottom {
    flex-basis: 25%;
    flex-direction: column;
    justify-content: flex-end;
    display: flex;
}