body{
    font-family: 'Libre Baskerville', serif;
    background-image: url("../pic/bg r.jpg");
    /* font-family:  */
    /* text-align: center; */
    font-weight: 300px;
    font-size: 16px;
    line-height: 1.5;
    color: #252222;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
    margin: 10px;
    box-sizing: border-box;
    background-attachment: fixed;
} 
   .container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    
    } 

  
  .header {
        background-repeat: no-repeat;
        background-position: cener;
        background-size: cover;
        margin-left: 10%;
        margin-right: 10%;
        height: 80px;
        width: 100%;
        color: #FFF;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items:center;
        margin: 20px;
    }
    .content{
        display: flex;
        flex-direction: row;
        justify-content:center;
        flex-wrap: wrap;   
    }
    .container_maine{
        width: 100%;
        margin-right: 7%;
        
    }

    a {
        color: white;
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
    }
    a:hover{
            color: rgb(0, 217, 255)
        }
    
    
    .menu {
        margin-left: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    ul {
        display: flex;
        /* position: fixed; */
        top:0;
        bottom: 0;
        left: 0;
        /* width: 200px; */
    }
    li.menu_item {
        margin-left: 20px;
        white-space: nowrap;
        text-decoration: none;
        list-style: none;
        float: none;
    }
   
/* кнопка */

/* button starting stylings ------------------------------- */
.toggle-hamburger {
    background-color: #fff;
    color: #ccc;
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 96px;
    height: 96px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    box-shadow: none;
    border: none;
    border-radius: none;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
  }
  .toggle-hamburger:focus {
    outline: none;
  }

  /* inner span stylings ------------------------------- */
.toggle-hamburger span {
    display: block;
    position: absolute;
    top: 44px;
    left: 18px;
    right: 18px;
    height: 8px;
    background: #ff3264;
  }
  .toggle-hamburger span::before, .toggle-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #ff3264;
    content: "";
  }
  .toggle-hamburger span::before {
    top: -20px;
  }
  .toggle-hamburger span::after {
    bottom: -20px;
  }

  /* анимация Х */

  .toggle-hamburger.toggle-hamburger__animx span {
    -webkit-transition: background 0s 0.3s;
    transition: background 0s 0.3s;
  }
  .toggle-hamburger.toggle-hamburger__animx span::before, .toggle-hamburger.toggle-hamburger__animx span::after {
    -webkit-transition-duration: 0.3s, 0.3s;
            transition-duration: 0.3s, 0.3s;
    -webkit-transition-delay: 0.3s, 0s;
            transition-delay: 0.3s, 0s;
  }
  .toggle-hamburger.toggle-hamburger__animx span::before {
    -webkit-transition-property: top, transform;
    transition-property: top, transform;
  }
  .toggle-hamburger.toggle-hamburger__animx span::after {
    -webkit-transition-property: bottom, transform;
    transition-property: bottom, transform;
  }
  
  /* when menu open: */
  .toggle-hamburger.toggle-hamburger__animx.is-active span {
    background: none;
  }
  .toggle-hamburger.toggle-hamburger__animx.is-active span::before, .toggle-hamburger.toggle-hamburger__animx.is-active span::after {
    background-color: #b2002b;
    -webkit-transition-delay: 0s, 0.3s;
            transition-delay: 0s, 0.3s;
  }
  .toggle-hamburger.toggle-hamburger__animx.is-active span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .toggle-hamburger.toggle-hamburger__animx.is-active span::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

/* гамбургер */

.hamburger{
    display: none;
    width: 16px;
    height: 13px;
    float: right;
    margin: 6px;
    position: relative;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    cursor: pointer;
    z-index: 100;
}
/* средняя полоска псевдоэл */
.hamburger:after{
    content:"";
    position: absolute;
    display: block;
    right: 0;
    left: 0;
    top: 5px;
    height: 2px;
    background: red;
   
}

.burger_content{
    position: relative;
    
}
/* ul.burger{
   
} */

@media screen and (max-width: 450px){
    .header{
        display: none;
    }
    
    .content{
        flex-direction: column-reverse;
    } 
    
    .hamburger{
        display: block;
    } 
    
    }
    ul.burger {
        display: none;
        flex-direction: column;
        left: -200px;
        background: rgb(56, 70, 70);
        position: fixed;
        top:0;
        bottom: 0;
        left: 0;
        width: 200px;
        transition: .2s;
        list-style: none;
        padding: 20px;
        margin: 20px;
    } 
    ul.burger.open{
        /* display: block; */
        left: 0;
        
    }
    /* .box-2{
        height: 350px;
        width: 200px;
        overflow: hidden;  
    }
    .photo{
        height: 350px;
        width: 200px;
        overflow: hidden;
    } */
}



  .content {
    padding: 20;
    display: flex;
    flex-direction: row;
    margin: 20px;
    /* background: #2f2e2e36; */
} 
.box-1{
    /* background: #691a1aad; */
    width: 60%;
    padding: 30px;
    margin: 20px;
    font-family: 'Libre Baskerville', serif;
    color: rgb(255, 253, 253);
    margin-right: 20px;
    box-sizing: border-box;
}
.box-2{
    margin-bottom: 30px;
}

.photo{
    height: 550px;
    width: 400px;
    overflow: hidden;
}

.footer{
    height: 110px;
    display: flex;
    justify-content: space-between;
}
.info {
    margin-top: 37px;
}
.mail{
    margin-top: 37px;  
}
.soucial{
    display: flex;
    padding: 46px;
}
.tv{
  width: 50px;  
}

.container_NELA_maine{
    /* background: whitesmoke; */
    
    block-size: border-box;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px rgb(192, 190, 190);
    justify-content: center;
    text-align: center;  
} 

.container_NELA{
    /* background: whitesmoke; */
    display: flex;
    flex-wrap: wrap;
    margin: -2px;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    
}

.container_NELA_first{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 50px;
}

.container_NELA_second{
    /* background: rgb(139, 139, 139);  */
    padding: 20px;
    margin: 20px;
    width: 60%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;  
}
.text_N{
    padding: 20px;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    /* height: 35%; */
    /* width: 50%; */
    text-align: justify;
}
container_NELA_third{
    margin-top: 30px;
    padding: 10px;
}
   

/* кнопка */
.button {
    background: #06b93f;
    color: #05bfee;
    width: 45%;
    height: 50px;
    font-size: 18px;
    border: none;
    margin-top: 10px;
    margin-left: 55%;
    cursor: pointer;
    transition: .5s;

   }
   .button:hover {
    background: #3e63dc;
   }            